<a href="https://colab.research.google.com/github/georgian3590/BABI-GreatLakes/blob/master/Linear_Regression_synth_temp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib as plt

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/TrainingByPackt/Applied-Supervised-Learning-with-Python/master/Chapter%203%20-%20Regression%20Analysis/synth_temp.csv")

In [3]:
#view data 
data.head()

   AverageTemperature  Year
0           12.980258  1841
1           13.689697  1842
2           12.485703  1843
3           14.202069  1844
4           12.831530  1845

In [4]:
# we are intrested in the data which is between 1901 to 2010 
data = data.loc[data.Year > 1901]

In [5]:
data.head()

     AverageTemperature  Year
366           16.973653  1902
367           17.181773  1903
368           17.436933  1904
369           17.688948  1905
370           17.811166  1906

In [6]:
# we are in the average data for the year 
data = data.groupby('Year').agg(np.mean)

In [7]:
data.head()

      AverageTemperature
Year
1902           17.438122
1903           17.375456
1904           17.558674
1905           17.740646
1906           17.501770

In [8]:
# rolling average 
rolling = data.AverageTemperature.rolling(10).mean()

In [10]:
rolling.head(20)

Year
1902          NaN
1903          NaN
1904          NaN
1905          NaN
1906          NaN
1907          NaN
1908          NaN
1909          NaN
1910          NaN
1911    17.501145
1912    17.502700
1913    17.500737
1914    17.487112
1915    17.466333
1916    17.460069
1917    17.475434
1918    17.463959
1919    17.472423
1920    17.474037
1921    17.480317
Name: AverageTemperature, dtype: float64